
.lemon-date-picker {
  display: inline-block;
  vertical-align: middle;
}

.calendar {
  position: fixed;
  margin-top: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  border-radius: 4px;

  .calendar-header {
    padding: 4px;

    .calendar-info {
      padding: 0 10px;
    }
  }

  .calendar-body {
    table {
      border-collapse: collapse;

      th, td {
        padding: 6px;
        text-align: center;
        // border: 1px solid #ccc;
      }

      td {
        cursor: pointer;

        &.current {

        }

        // 非当月，淡颜色显示
        &.not-current {
          color: #aaa;
        }
      }

      tbody {
        tr {
          // height: 20px;
        }
      }
    }
  }
}
